@model List<painel_conversas.Models.Chat>

<h2>Conversas chat</h2>

<table class="table">
    <thead>
    <tr>
        @*<th>ID</th>*@
        <th>Texto</th>
        <th>Origem</th>
        <th>Remetente</th>
        <th>Data</th>
        <th>Tipo</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var chat in Model)
    {
        <tr>
            @*<td>@chat.Id</td>*@
            <td>@chat.Text</td>
            <td>@chat.Origin</td>
            <td>@chat.SenderId</td>
            <td>@DateTimeOffset.FromUnixTimeMilliseconds(chat.CreatedAt).LocalDateTime.ToString("dd/MM/yyyy HH:mm")</td>
            <td>@chat.Type</td>
        </tr>
    }
    </tbody>
</table>


<style>
    .table {
        margin-top: 20px;
    }

    .table th {
        background-color: #343a40;
        color: white;
        border-color: #454d55;
    }

    .btn-sm {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
    }

    .alert {
        border-radius: 0.375rem;
    }
</style>